   <div class="shopOwnerContainer">

    <div class="main">
    <mat-card style="justify-content: center; align-items: center; display: flex; padding: 10px;">
      <h1><b>Shopkeepers</b></h1>
    </mat-card>
  
    <div class="tablecon">
  
     <table class="table">
       <thead>
        <tr>
          <th scope="col">Owner Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email</th>
          <th scope="col">Number of shops</th>
        </tr>
       </thead>
       <tbody>
        <tr *ngFor="let shopOwner of shopOwners;">
          <td scope="row">{{ shopOwner.fullName }}</td>
          <td>{{ shopOwner.contactNumber }}</td>
          <td>{{ shopOwner.email }}</td>
          <td>{{ shopOwner.numberOfShops }}</td>
        </tr>
         
       </tbody>
     </table>
  
    </div>
  