<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon">
    <mat-icon>menu</mat-icon>
  </button>

  <span id="menuTitle">Salon Sphere</span>
  <div class="nav-buttons">
    <mat-icon
      class="navicons"
      matTooltip="Search"
      [matMenuTriggerFor]="belowMenu"
      >search</mat-icon
    >
    <mat-menu #belowMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <input
      type="search"
      class="searchbox"
      id="searchbox"
      placeholder="Search"
    />

    <mat-icon
      class="navicons"
      matTooltip="Notifications"
      [matMenuTriggerFor]="notification"
      >notifications</mat-icon
    >
    <mat-menu #notification="matMenu" yPosition="below">
      <button mat-menu-item>👉Hi, Your Appointment is Confirmed</button>
      <button mat-menu-item>👉Appointment Initiated</button>
    </mat-menu>

    <mat-icon
      class="navicons"
      matTooltip="Account"
      [matMenuTriggerFor]="account"
      >account_circle</mat-icon
    >
    <mat-menu #account="matMenu" yPosition="below">
      <button mat-menu-item>My Account</button>
      <button mat-menu-item>LogOut</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Keep it as [fixedInViewport]="false" , otherwise on scrolling the sidenav won' scroll -->
  <mat-sidenav #sidenav [fixedInViewport]="false" [fixedTopGap]="70" mode="push">
    <div>
      <a mat-button [matMenuTriggerFor]="menu" class="side-menu-item"
        ><mat-icon>add_photo_alternate</mat-icon>Shop Owner</a
      >
      <mat-menu #menu="matMenu">
        <button mat-menu-item>My Profile</button>
        <button mat-menu-item>Edit Profile</button>
        <button mat-menu-item>Settings</button>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>

    <div>
      <a
        (click)="sidenav.close()"
        mat-button
        routerLink="/admin/services"
        class="side-menu-item"
        ><mat-icon>settings</mat-icon>Services</a
      >
    </div>

    <div>
      <a
        (click)="sidenav.close()"
        mat-button
        routerLink="/admin/about"
        class="side-menu-item"
        ><mat-icon>search</mat-icon>About Us</a
      >
    </div>

    <div>
      <a
        (click)="sidenav.close()"
        mat-button
        routerLink="/admin/contact"
        class="side-menu-item"
        ><mat-icon>contact_support</mat-icon>Contact Us</a
      >
    </div>
  </mat-sidenav>

  <!-- All The Content goes here -->

  <mat-sidenav-content>
    <div class="container">
      <mat-card class="dashboardCards">
        <mat-card-content>
          <h2><mat-icon>app_registration</mat-icon> Total Bookings</h2>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboardCards">
        <mat-card-content>
          <h2><mat-icon>currency_rupee</mat-icon> Total Earnings</h2>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboardCards">
        <mat-card-content>
          <h2><mat-icon>trending_up</mat-icon> Overall Rating</h2>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="shopContainer">
      <mat-card class="shopCard">
        <h2>No Data Available</h2>
      </mat-card>
    </div>


    <div class="reviews">
      <mat-card class="reviewCard">
        <h2>Review</h2>
      </mat-card>
      <mat-card class="reviewCard">
        <h2>Review</h2>
      </mat-card>
      <mat-card class="reviewCard">
        <h2>Review</h2>
      </mat-card>
    </div>

    <div class="postReview">
      
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>
