.mat-toolbar {
  height: 70px;
}
.side-menu-item {
  margin: 10px;
}
.mat-sidenav {
  width: 250px;
}
.nav-buttons {
  margin-left: 50%;
  display: flex;
}
.nav-buttons a {
  margin: 5px;
}
#menuTitle {
  margin-right: 200px;
  margin-left: 10px;
}
.navicons {
  margin: 20px;
}
.searchbox {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 30px;
  outline: none;
  width: 150px;
  background-color: transparent;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}
.shopContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

mat-expansion-panel {
  width: 500px;
  /* display: inline-block; */
  margin-top: 5%;
  margin-left: 10%;
  /* margin-right: 50px; */
}
.dashboardCards {
  height: 200px;
  width: 300px;
  margin: 50px;
  border-radius: 10px;
}
.shopCard {
  height: 400px;
  width: 70vw;
  margin: 50px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.reviews{
    display: flex;
  justify-content: center;
  align-items: center;
  
}
.reviewCard {
    margin: 50px;
  height: 200px;
  width: 250px;
}
