<div class="container">
  <mat-card class="header">
    <h1>{{ shopData.shopName }}</h1>
    <p>{{ shopData.address }}</p>
    <p>{{ shopData.shopCity }}, {{ shopData.district }}</p>
  </mat-card>
  <mat-tab-group>
    <mat-tab label="Services">
      <div class="cards">
        <ng-container *ngIf="data && data.length">
          <mat-card class="shopCard" *ngFor="let shop of data">
            <div class="edit">
              <mat-icon
                (click)="saveId(shop.serviceId)"
                routerLink="/shopkeeper/updateService"
                >edit</mat-icon
              >
            </div>
            <h3><b>Service Name:</b> {{ shop.serviceName }}</h3>
            <h3><b>Price:</b> {{ shop.servicePrice | currency: 'INR' }}</h3>
            <h3><b>Duration:</b> {{ shop.serviceDuration | duration}} </h3>
          </mat-card>
        </ng-container>

        <ng-template #noShops>
          <div class="noshopCard">
            <h2>No Shops Added</h2>
            <br />
            <button class="button" routerLink="/shopkeeper/addservice">
              <span class="button-content">Add Service</span>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="add-shop">
        <h2 *ngIf="!data || !data.length">No Shops Added</h2>
        <button
          mat-raised-button
          class="button"
          routerLink="/shopkeeper/addservice"
        >
          <span>Add Service</span>
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Stats"> </mat-tab>

    <!-- Add more mat-tabs if needed -->
  </mat-tab-group>
</div>
