<div class="container" *ngIf="shopData">
  <mat-card class="header" 
    style="background-image: url(assets/images/{{shopData.coverImage}}); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;"
   >

    <div class="btnclass">
      <button
        class="edit"
        mat-raised-button
        routerLink="/shopkeeper/updateshop"
      >
        <mat-icon>edit</mat-icon> Edit Shop
      </button>
      <button
        class="addEmp"
        mat-raised-button
        routerLink="/shopkeeper/addEmployee"
      >
        <mat-icon>add</mat-icon> Add Emp
      </button>
    </div>
    <h1 style="margin-left: 10vw;">{{ shopData.shopName }}</h1>
    <p style="margin-left: 10vw;">{{ shopData.address }}</p>
    <p style="margin-left: 10vw;">{{ shopData.shopCity }}, {{ shopData.district }}</p>
  </mat-card>
  <mat-tab-group>

    <!-- 
      =================================================================================
      ********************************* SHOW SERVICES *********************************
      =================================================================================
    -->

    <mat-tab label="Services">
      <div class="cards">
        <table class="table" *ngIf="data && data.length">
          <thead>
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Price</th>
              <th scope="col">Duration</th>
              <th scope="col">&nbsp;&nbsp;&nbsp;Edit</th>
              <th scope="col">&nbsp;Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shop of data">
              <td scope="row">{{ shop.serviceName }}</td>
              <td>{{ shop.servicePrice | currency : "INR" }}</td>
              <td>{{ shop.serviceDuration | shopkeeperDuration }}</td>
              <td>
                <a
                  mat-button
                  color="primary"
                  (click)="saveId(shop.serviceId)"
                  routerLink="/shopkeeper/updateService"
                  ><mat-icon>edit</mat-icon></a
                >
              </td>
              <td>
                <a mat-button color="warn" (click)="deleteService()"
                  ><mat-icon>delete</mat-icon></a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #noShops>
          <div class="noshopCard">
            <h2>No Services Added</h2>
            <br />
            <button class="button" routerLink="/shopkeeper/addservice">
              <span class="button-content">Add Service</span>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="add-shop">
        <h2 *ngIf="!data || !data.length">No Shops Added</h2>
        <button
          mat-raised-button
          class="button"
          routerLink="/shopkeeper/addservice"
        >
          <span>Add Service</span>
        </button>
      </div>
    </mat-tab>

    <!-- 
      =================================================================================
      ********************************* SHOW REVIEWS **********************************
      =================================================================================
    -->

    <mat-tab label="Reviews" class="reviewContainer">
      <mat-card class="reviews" *ngFor="let review of reviews">
        <mat-card-content>
          <div class="header_review">
            <h5 class="review-date">{{ review.reviewDate | timeSince }} ago</h5>
            <h3 class="customer-name">
              <mat-icon>account_circle</mat-icon>&nbsp;{{ review.customerName }}
            </h3>
            <div class="rating">
              <!-- Display filled stars based on review.rating -->
              <mat-icon
                class="star"
                *ngFor="let star of getFilledStars(review.rating)"
                >star</mat-icon
              >
              <!-- Display empty stars for remaining rating -->
              <mat-icon
                class="star_border"
                *ngFor="let star of getEmptyStars(review.rating)"
                >star_border</mat-icon
              >
            </div>
          </div>
          <h3 class="review-message">
            <i>{{ review.reviewMessage }}</i>
          </h3>

          <div class="likes">
            <button mat-icon-button (click)="toggleLike(review)" >
              <mat-icon >{{ review.liked ? 'thumb_up' : 'thumb_up_off_alt' }}</mat-icon>
            </button>
            <span>{{ review.likes }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    
    
    
    
    <mat-tab label="Employees">





      <div class="cards">
        <table class="table" *ngIf="employeeInfo && employeeInfo.length">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact No</th>
              <th scope="col">Salary</th>
              <th scope="col">Gender</th>
              <th scope="col">Services</th>
              <th scope="col">Address</th>
              <th scope="col">   Edit</th>
              <th scope="col"> Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Emp of employeeInfo">
              <td scope="row">{{ Emp.employeeName }}</td>
              <td scope="row">{{ Emp.email}}</td>
              <td scope="row">{{ Emp.contactNumber }}</td>
              <td scope="row">{{ Emp.salary }}</td>
              <td scope="row">{{ Emp.gender }}</td>
              <td scope="row">{{ Emp.services }}</td>
              <td scope="row">{{ Emp.address }}</td>

              <td>
                <a
                  mat-button
                  color="primary"
                  (click)="saveEmpId(Emp.employeeId)"
                  routerLink="/shopkeeper/updateService"
                  ><mat-icon>edit</mat-icon></a
                >
              </td>
              <td>
                <a mat-button color="warn" (click)="deleteService()"
                  ><mat-icon>delete</mat-icon></a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #noShops>
          <div class="noshopCard">
            <h2>No Services Added</h2>
            <br />
            <button class="button" routerLink="/shopkeeper/addservice">
              <span class="button-content">Add Service</span>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="add-shop">
        <h2 *ngIf="!data || !data.length">No Shops Added</h2>
        <button
          mat-raised-button
          class="button"
          routerLink="/shopkeeper/addEmployee"
        >
          <span>Add Employee</span>
        </button>
      </div>





    </mat-tab>
    
    
    
    
    
    
    
    <mat-tab label="Stats"></mat-tab>

    <!-- Add more mat-tabs if needed -->
  </mat-tab-group>
</div>
