h1 {
  background: -webkit-linear-gradient(#000000, #a39191);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.edit{
  width: 150px;
  margin-right: 5px;
}
.addEmp{
  width: 150px;
  margin-right: 5px;
}
.btnclass{
  position: absolute;
  align-self: flex-end;
}
.header{
  /* padding-left: 100px; */
  padding-top: 10px;
}
.container{
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 3%;
  background-color: aliceblue;
}
.shopContainer {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20%;
}
.shopCard {
  height: 250px;
  width: 300px;
  margin: 30px;
  border-radius: 25px;
  justify-content: center;
  color: #000;
  padding-left: 15px;
  transition: all 0.35s ease;
}

.shopCard:hover {
  box-shadow: 0 0 8px rgb(140, 126, 161);
}
/* **************************** */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

tr{
  height: 50px;
}

/* **************************** */
.add-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 30%;
  align-items: center;
  margin-bottom: 10px;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

tr{
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.noshopCard {
  height: 200px;
  width: 20vw;
  margin: 50px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  /* background-color: #e40d0daf; */
  color: #000;
}


.reviewContainer container {
  position: absolute;
  margin-top: 6%;
  margin-left: 7%;
}

.reviews {
  background-color: rgba(66, 99, 116, 0.599);
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.header_review{
  display: flex;
  flex-direction: column;
}
.star{
  color: gold;
}

.customer-name{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
}

.review-date, .rating{
  display: flex;
  position: absolute;
  justify-content: end;
  align-self: flex-end;
}

.review-message{
  margin-left: 30px;
}

.rating{
  margin-top: 20px;
}

