<div class="container" *ngIf="shopData">
  <mat-card class="header">

    <img src="D:\\SalonSphere\\hair-saloon-appnt-sys\\SalonSphere-Angular\\src\\assets\\images\\${{shopData.coverImage}}" alt="Oh">

    <div class="btnclass">
      <button
        class="edit"
        mat-raised-button
        routerLink="/shopkeeper/updateshop"
      >
        <mat-icon>edit</mat-icon> Edit Shop
      </button>
      <button
        class="addEmp"
        mat-raised-button
        routerLink="/shopkeeper/addEmployee"
      >
        <mat-icon>add</mat-icon> Add Emp
      </button>
    </div>
    <h1>{{ shopData.shopName }}</h1>
    <p>{{ shopData.address }}</p>
    <p>{{ shopData.shopCity }}, {{ shopData.district }}</p>
  </mat-card>
  <mat-tab-group>
    <mat-tab label="Services">
      <div class="cards">
        <table class="table" *ngIf="data && data.length">
          <thead>
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Price</th>
              <th scope="col">Duration</th>
              <th scope="col">&nbsp;&nbsp;&nbsp;Edit</th>
              <th scope="col">&nbsp;Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shop of data">
              <td scope="row">{{ shop.serviceName }}</td>
              <td>{{ shop.servicePrice | currency : "INR" }}</td>
              <td>{{ shop.serviceDuration | shopkeeperDuration }}</td>
              <td>
                <a
                  mat-button
                  color="primary"
                  (click)="saveId(shop.serviceId)"
                  routerLink="/shopkeeper/updateService"
                  ><mat-icon>edit</mat-icon></a
                >
              </td>
              <td>
                <a mat-button color="warn" (click)="deleteService()"
                  ><mat-icon>delete</mat-icon></a
                >
              </td>
            </tr>
          </tbody>
        </table>

        <ng-template #noShops>
          <div class="noshopCard">
            <h2>No Services Added</h2>
            <br />
            <button class="button" routerLink="/shopkeeper/addservice">
              <span class="button-content">Add Service</span>
            </button>
          </div>
        </ng-template>
      </div>

      <div class="add-shop">
        <h2 *ngIf="!data || !data.length">No Shops Added</h2>
        <button
          mat-raised-button
          class="button"
          routerLink="/shopkeeper/addservice"
        >
          <span>Add Service</span>
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Employees"> </mat-tab>
    <mat-tab label="Stats"> </mat-tab>

    <!-- Add more mat-tabs if needed -->
  </mat-tab-group>
</div>
