.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  /* background: url("img/arrow-down.svg"); */
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  display: none;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  top: 70px;
  z-index: 1;
}

.main {
  width: 75%;
  height: 100vh;
  position: absolute;
  right: 0;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.nav {
  min-height: 91vh;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  padding: 30px 20px 20px;
}
.navcontainer {
  height: calc(100vh - 70px);
  width: 25%;
  position: fixed;
  top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.navclose {
  width: 80px;
}
.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.1s ease-in-out;
  background-color: #050b6a;
}
.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}
.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
}

.box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.08);
}

.box:nth-child(1) {
  background-color: #3f0097;
}
.box:nth-child(2) {
  background-color: #5500cb;
}
.box:nth-child(3) {
  background-color: #3f0097;
}
.box:nth-child(4) {
  background-color: #5500cb;
}

.box img {
  height: 50px;
}
.box .text {
  color: white;
}
.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}

.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}
.report-topic-heading,
.item1 {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-op {
  font-size: 18px;
  letter-spacing: 0px;
}

.items {
  width: 1120px;
  margin-top: 15px;
}

.item1 {
  margin-top: 20px;
}
.t-op-nextlvl {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}

.label-tag {
  width: 100px;
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: black;
}

/* making responsive */
@media screen and (max-width: 950px) {
  .nav-img {
    height: 25px;
  }
  .nav-option {
    gap: 30px;
  }
  .nav-option h3 {
    font-size: 15px;
  }
  .report-topic-heading,
  .item1,
  .items {
    width: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .navcontainer {
    width: 100%;
  }
  .nav {
    height: fit-content;
    min-height: 0;
  }

  .nav-upper-options {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    gap: 40px;
  }

  .main-container {
    flex-direction: column;
    gap: 200px;
  }

  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main {
    width: 100%;
    margin-top: 100px;
  }
  h2 {
    text-align: center;
  }
}

.cards {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
}

.card {
  width: 90%;
  height: 50%;
  background-color: rgb(245, 241, 241);
  padding: 20px 20px;
  position: relative;
  border: none;
}

.card:hover {
  background-color: rgb(205, 202, 202);
  transition: all 0.8s linear;
  cursor: pointer;
}

p {
  margin: 0;
}

h2 {
  font-size: 2em;
}
.offer {
  display: flex;
  flex-direction: column;
}

.offers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.img-div {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
#img {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 150px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background-color: rgb(4, 4, 128);
}
.btn:hover{
  background-color: red;
  transition: all 0.3s linear;
}

.rating {
  margin-top: 12px;
  letter-spacing: 2px;
  font-size: large;
}
span {
  letter-spacing: 3px;
  font-size: large;
  font-weight: bold;
  color: rgb(9, 117, 9);
}

.pera {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
}

@media screen and (max-width: 930px) {
}

select {
  width: 80%;
  height: 100%;
  padding: 10px;
  color: white;
  background-color: #050b6a;
  outline: none;
}

.nav-option:hover {
  background-color: #050b6a;
}

.select-box:hover .active{
  transition: all 0.3s  ease-in-out;
  transform: rotateX(180deg);
  top: -6px;
  display: block;

}

.book-btn{
  background-color: #151560;
  width: 100%;
  padding: 10px 20px;
  margin-top: 60px;
  font-size: larger;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border-radius: 20px;
}
.book-btn:hover{
  background-color: red;
  transition: all 0.3s linear;
}