<div class="main">
  <div class="cards">
    <div class="card">
      <img
        src="../../../../../../assets/images/haircut.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Hair Cutting</p>
        <button (click)="exploreService('Hair Cutting','option1')" class="explore-btn">Explore -></button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../../../assets/images/beard.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Beard Trim & Shaving</p>
          <button (click)="exploreService('Beard Trim & Shaving','option3')" class="explore-btn">Explore -></button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../../../assets/images/detan.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Detaining</p>
        <button (click)="exploreService('Detaining','option5')" class="explore-btn">Explore -></button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../../../assets/images/Facial&Cleenup.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Facial & Cleenup</p>
        <button (click)="exploreService('Facial & Cleenups','option2')" class="explore-btn">Explore -></button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../../../assets/images/hair-wash.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Shamppo & Blow Dry</p>
        <button (click)="exploreService('Shamppo & Blow Dry','option4')" class="explore-btn">Explore -></button>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../../../assets/images/spa.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">Spa</p>
        <button (click)="exploreService('Spa','option6')" class="explore-btn">Explore -></button>
      </div>
    </div>
  </div>
</div>
