<app-navbar></app-navbar>
 <section class="container">
      <header>Login Form</header>
      <form [formGroup]="loginData" (ngSubmit)="doSubmit()" class="form">
        <div class="input-box">
          <label>Username or Email</label>
          <input type="text" placeholder="Enter full name" formControlName="email" required />
        </div>
        <div class="input-box">
          <label>Password</label>
          <input type="password" placeholder="Enter your password"  formControlName="password" required />
        </div>
        <button>Submit</button>
      </form>
      <p>Don't have an Account ?<a routerLink="/register">Get Started for Free</a></p>
  </section>