


<h1>Welcome to Our site</h1>

<div class="container-box">
  <div class="container">
    <div class="mssg-box">
      <h2>Add Your Shop Hare </h2>
      <p>
        Show case your shop on our platform. Add your shop details below and we will review them for approval.
      </p>
    </div>
    <h2 class="head">Register As a Shop Keeper</h2>
    <div class="btn-box">
      <a class="btn" id="register" routerLink="./shop-register"
        >Shop Keeper</a
      >
    </div>
  </div>

  <div class="container">
    <div class="mssg-box">
      <h2>Find The Best Artist For You</h2>
      <p>
        Get The Best Artist from Your City by registering yourself as a Customer.
      </p>
    </div>
    <h2 class="head">Register As a Customer</h2>
    <div class="btn-box">
      <a class="btn" id="register" routerLink="./customer-register">Customer</a>
    </div>
  </div>
</div>