.right {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.table-container {
  margin: auto auto;
  margin-top: 40px;
  height: 90%; 
  table-layout: fixed;
}
h2 {
  text-align: center;
  margin: 30%;
}
tbody {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100px;
}

th,
td {
  font-size: 15px;
  padding: 20px;
}

.approve-btn {
  background-color: #220693;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(240, 247, 240);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  margin-left: 10px;
}

.approve-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}


@media screen and (max-width: 848px) {
  .right {
    width: 100%; /* Set width to 100% when screen width is 848px or less */
  }
}
