
    <div class="right">
    <div class="table-container" *ngIf="shops && shops.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Owner Name</th>
                    <th scope="col">Shop Name</th>
                    <th scope="col">Shop Email</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                @for (shop of shops; track shop.shopOwnerName) {
                    <tr>
                        <td scope="row">{{shop.shopOwnerName}}</td>
                        <td>
                            {{ shop.shopName }}
                        </td>
                        <td>{{ shop.shopEmail }}</td>
                        <td>{{ shop.shopOwnerEmail }}</td>
                        <td>{{ shop.shopLocation }}</td>
                        <th (click)="getShopInformation(shop)" class="approve-btn">Review</th>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <h2 *ngIf="!shops || !shops.length">There is no any shop pending.</h2>
    </div>
        
        

   
