<div class="main-div">
  <div class="services">
    <!-- <div class="service">
        
        <div class="left">
          <h1>Hair Cutting</h1>

          <h3>Hair Cut For Men</h3>

          <div class="price-time">
            <div class="price">
              <img src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg" alt="">
            <p>200 Rs</p>
          </div>
          <div class="time">
            <div class="circle"></div>
            <p >30 min</p>
          </div>
          </div>
          <p>Profession hair cut that suits your face shape</p>
        </div>

        <div class="right">
          <div class="img">
            <img src="https://www.shutterstock.com/image-photo/male-client-getting-haircut-by-260nw-568819498.jpg" alt="img">
          </div>
          <button class="add-btn">Add</button>
        </div>

      </div>

      <div class="service">
        
        <div class="left">
          <h1>Hair Cutting</h1>

          <h3>Hair Cut For Men</h3>

          <div class="price-time">
            <div class="price">
              <img src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg" alt="">
            <p>200 Rs</p>
          </div>
          <div class="time">
            <div class="circle"></div>
            <p >30 min</p>
          </div>
          </div>
          <p>Profession hair cut that suits your face shape</p>
        </div>

        <div class="right">
          <div class="img">
            <img src="https://www.shutterstock.com/image-photo/male-client-getting-haircut-by-260nw-568819498.jpg" alt="img">
          </div>
          <button class="add-btn">Add</button>
        </div>

      </div>

      <div class="service">
        
        <div class="left">
          <h1>Hair Cutting</h1>

          <h3>Hair Cut For Men</h3>

          <div class="price-time">
            <div class="price">
              <img src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg" alt="">
            <p>200 Rs</p>
          </div>
          <div class="time">
            <div class="circle"></div>
            <p >30 min</p>
          </div>
          </div>
          <p>Profession hair cut that suits your face shape</p>
        </div>

        <div class="right">
          <div class="img">
            <img src="https://www.shutterstock.com/image-photo/male-client-getting-haircut-by-260nw-568819498.jpg" alt="img">
          </div>
          <button class="add-btn">Add</button>
        </div>

      </div> -->
    <!-- <div class="service">
        
        <div class="left">
          <h1>Hair Cutting</h1>

          <h3>Hair Cut For Men</h3>

          <div class="price-time">
            <div class="price">
              <img src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg" alt="">
            <p>200 Rs</p>
          </div>
          <div class="time">
            <div class="circle"></div>
            <p >30 min</p>
          </div>
          </div>
          <p>Profession hair cut that suits your face shape</p>
        </div>

        <div class="right">
          <div class="img">
            <img src="https://www.shutterstock.com/image-photo/male-client-getting-haircut-by-260nw-568819498.jpg" alt="img">
          </div>
          <button class="add-btn">Add</button>
        </div>

      </div> -->
    <div class="service" *ngFor="let service of services">
      <div class="left">
        <h1>{{ service.title }}</h1>
        <h3>{{ service.type }}</h3>
        <div class="price-time">
          <div class="price">
            <img [src]="service.priceImageUrl" alt="" />
            <p>{{ service.price }}</p>
          </div>
          <div class="time">
            <div class="circle"></div>
            <p>{{ service.duration }}</p>
          </div>
        </div>
        <p>{{ service.description }}</p>
      </div>
      <div class="right">
        <div class="img">
          <img [src]="service.imageUrl" alt="img" />
        </div>
        <button class="add-btn" (click)="addToCart(service)">Add</button>
      </div>
    </div>
  </div>

  <div class="card">
    <span>Rahul Hair Salon</span>

    <p>Address - Ashoka Garden Bhopal, Madhya Pradesh</p>

    
    <div class="products" *ngIf="cart.length">
      <div class="product" *ngFor="let product of cart">
        <div class="product-details">
          <h3>{{ product.title }}</h3>
          <div class="price">
            <img
              src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg"
              alt=""
            />
            <p>{{ product.price }}</p>
          </div>
        </div>
        <button class="product-btn">1</button>
      </div>
    </div>
    <button class="total" *ngIf="cart.length">
      <div class="price">
        <img
          src="https://t3.ftcdn.net/jpg/03/32/58/10/360_F_332581030_Mfbe3YYwexIWUZQ3qNrSt0XFP35q6fxI.jpg"
          alt=""
        />
        <p style="color: black">{{ totalAmount }}</p>
      </div>
      <p style="color: black">View Cart</p>
    </button>


    <div class="product-card" *ngIf="!cart.length">
      <div class="empty-product">
        <img src="../../../../../../assets/images/empty product.svg" alt="" />
      </div>
      <p>No item in your card</p>
    </div>
  </div>
</div>
