.shopContainer {
  /* width: 75%; */
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  margin-left: 22vw;
}

.tablecon{
  /* width: 95%; */
  height: auto;
}

.table{
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 0 8px rgb(140, 126, 161);
}
.table tr{
  border-radius: 15px;
  height: 60px;
}

.edit:hover {
  cursor: pointer;
  scale: 1.5;
}
/* **************************** */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25%;
  /* border-radius: 15px; */
}
.table td{
  background-color: #fff1df;
}

/* **************************** */
.add-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 30%;
  align-items: center;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.noshopCard {
  height: 200px;
  width: 20vw;
  margin: 50px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  /* background-color: #e40d0daf; */
  color: #000;
}
