    <div class="shopContainer">
      <div class="cards">
      <ng-container *ngIf="data && data.length">
        <mat-card class="shopCard" *ngFor="let shop of data">
          <img [src]="shop.coverImage" alt="Cover Image" />
          <h2>{{ shop.shopName }}</h2>
          <h3>{{ shop.shopAddress }}</h3>
          <h3>{{ shop.shopCity }}</h3>
          <h3>{{ shop.shopEmail }}</h3>
          <h3>{{ shop.shopContactNo }}</h3>
          <h3>{{ shop.status }}</h3>
        </mat-card>
      </ng-container>
    </div>

    <div class="add-shop">
        <h2 *ngIf="!data || !data.length">No Shops Added</h2>
         <button class="button"routerLink="/shopkeeper/add-shop">
            <span class="button-content">Add Shop</span>
        </button>
    </div>
    </div>

  


