/* You can add global styles to this file, and also import other style files */
* {
<<<<<<< HEAD
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgb(250, 250, 250);
    font-family: Lato, Helvetica, Arial, sans-serif;
    /* overflow: hidden; */
  }
=======
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
>>>>>>> e0c8ee5678c5f242d1cd0101c77632c6172002fc

body {
  background: rgb(250, 250, 250);
  font-family: Lato, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
