.right {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;
}

h1 {
  text-align: center;
}

.card {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.card h2 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  margin-bottom: 5px;
}

.table {
  width: 60%;
  margin: 10px 100px;
  text-align: left;
  overflow: scroll;
}

tr {
  border: white;
}
.btn-div{
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  flex-wrap: wrap;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.licence{
  font-size: 20px;
  padding: 10px;
  width: 20px;
  transition: all 0.5s;
  color: #260caa;
}
.licence:hover{
  text-decoration: underline;
  cursor: pointer;
}
.approve{
  background-color: rgb(5, 179, 5);
}


.approve:hover{
  background-color: rgb(9, 107, 9);
}

.reject:hover{
  background-color: #b1350f;
}
.spinner{
  position: absolute;
  top:50%;
  left: 50%;
  z-index: 1;
}

.disable{
  display: none;
}

@media screen and (max-width: 848px) {
  .right {
    width: 100%; /* Set width to 100% when screen width is 848px or less */
  }
}
