<div class="container-box">
  <div class="container">
    <form id="form">
      <div class="mssg-box">
        <h2>Add Your Shop Service Here</h2>
      </div>

      <!-- ************************************************ -->
      <div formArrayName="services">
        <div class="form-row" >
          <div class="input-box">
            <label>Service Name</label><br />
            <input type="text" placeholder="Enter service Name" required />
          </div>
          <div class="input-box">
            <label>Service Price</label><br />
            <input type="text" placeholder="Enter service Price" required />
          </div>
          <div class="input-box">
            <label>Service Duration</label><br />
            <input
              type="text"
              placeholder="Enter service Duration in minutes"
              required
            />
            <mat-icon style="cursor: pointer">delete</mat-icon>
            <mat-icon style="cursor: pointer">add_circle</mat-icon>
          </div>
        </div>
      </div>
      <!-- ************************************************ -->

      <br />
      <div class="btn-box">
        <button class="btn green">Add Service</button>
        <a class="btn red" routerLink="./shop-register">Back</a>
      </div>
    </form>
  </div>
</div>
