.main-div{
    width: 100%;
    position: absolute;
    top: 12%;
    background-color: aliceblue;
}

.upper{
    width: 100%;
    height: 15%;
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    gap: 40%;
}
img{
    width: 20px;
    height: 20px;
}


.down{
    width: 100%;
    height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}


.upper h1{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.slots{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    padding: 20px 0;
    align-items: center;
}
.left{
    width: 25%;
    text-align: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    gap: 20px;
}
.upper p{
    font-size: 18px;
    color: #767070;
}

#date{
    width: 200px;
    height: 40px;
    padding: 20px;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 20px;
}



.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }